.why-choose {
    padding: 100px 70px 0;
}
.why-choose .grida {
    display: flex;
    align-items: center;
    gap:30px;
    flex-wrap: wrap;
}
.why-choose .grida .grida-item {
    flex: 1;
    text-align: center;
    margin-top: 47px;
    box-shadow: 0px 0px 50px 0px #072E7312;
    border-radius: 18px;
    padding: 0 50px;
    background-color: #ffffff;
    align-self: stretch;
}
.why-choose .grida .grida-img {
    margin-top: -47px;
    margin: -47px auto 0;
    width: 94px;
    height: 94px;
    background-color: var(--primary-btn-color);
    border-radius: 50%;
    padding: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.why-choose .grida .grida-title {
    /* font-family: Outfit; */
    font-size: var(--font-size-20);
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    padding: 20px 0;
}
.why-choose .grida .grida-desc {
    /* font-family: Outfit; */
    font-size: var(--font-size-14);
    font-weight: 300;
    line-height: 19px;
    text-align: center;
}
.why-choose .grida .grida-link {
    padding: 20px 0;
}
.why-choose .grida .grida-link > a {
    /* font-family: Outfit; */
    font-size: var(--font-size-16);
    font-weight: 700;
    line-height: 20.16px;
    text-align: center;
    color: #FF2D2D;
}
.why-choose .why-choose-row {
    position: relative;
    padding: 0 20px 20px;
}
.why-choose .why-choose-row > .first-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.why-choose .why-choose-row > .last-img {
    position: absolute;
    bottom: -30px;
    right: -20px;
    z-index: -1;
}

@media screen and (max-width: 928px) {
    .why-choose {
        padding: 100px 30px 0;
    }
}
@media screen and (max-width: 928px) {
    .why-choose .grida .grida-item {
        padding: 0 30px;
    }
}
@media screen and (max-width: 850px) {
    .why-choose .grida .grida-item {
        flex: 0 0 calc(50% - 15px);
    }
}
@media screen and (max-width: 570px) {
    .why-choose .grida .grida-item {
        flex: 0 0 100%;
    }
}