.counter-sec {
    padding: 50px 70px 0;
}
.counter-row {
    display: flex;
    align-items: center;
}
.counter-row .counter {
    flex: 1;
    padding: 20px;
    text-align: center;
    border-left: 1px solid #E5082B;
}
.counter-row .counter:last-child {
    border-right: 1px solid #E5082B;
}
.counter-row .counter h1 {
    font-size: 54px;
    font-weight: 700;
}
.counter-row .counter p {
    font-size: 16px;
    font-weight: 300;
}