.counter-sec {
    padding: 50px 70px 0;
}
.counter-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.counter-row .counter {
    flex: 1;
    padding: 20px;
    text-align: center;
    border-left: 1px solid var(--primary-btn-color);
}
.counter-row .counter:last-child {
    border-right: 1px solid var(--primary-btn-color);
}
.counter-row .counter h1 {
    font-size: var(--font-size-54);
    font-weight: 700;
}
.counter-row .counter p {
    font-size: var(--font-size-16);
    font-weight: 300;
}

@media screen and (max-width:928px) {
    .counter-sec {
        padding: 50px 30px 0;
    }
}
@media screen and (max-width:820px) {
    .counter-row .counter {
        flex: 0 0 50%;
        border-left: none;
        border-right: none ;
    }
    .counter-row .counter:last-child {
        border-right: none;
    }
    /* .counter-row .counter:nth-child(2) {
        border-left: 1px solid #E5082B;
        border-bottom: 1px solid #E5082B;
    }
    .counter-row .counter:nth-child(3) {
        border-right: 1px solid #E5082B;
        border-top: 1px solid #E5082B;
    } */
}
@media screen and (max-width:530px) {
    .counter-row .counter {
        flex: 0 0 100%;
        border-top: 1px solid var(--primary-btn-color);
        max-width: 320px;
        margin: 0 auto;
    }
    .counter-row .counter:last-child {
        border-bottom: 1px solid var(--primary-btn-color);
    }
}