.all-blogs-sec {
    padding: 80px 70px 50px;
}
.blog-grid {
  display: flex;
  flex-wrap: wrap;
}

.blog-item {
  padding: 0;
  margin: 15px;
  box-sizing: border-box;
  box-shadow: 0 2px 10px rgba(0,0,0,.16);
  border-radius: 20px;
}
.blog-item .blog-image {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.blog-item .blog-image .badge {
    position: absolute;
    top: 23px;
    left: -33px;
    background-color: var(--primary-btn-color);
    color: white;
    padding: 5px 15px;
    width: 142px;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    transform: rotate(-45deg);
    letter-spacing: 1.5px;
}
.blog-item.first .blog-image img {
    border-radius: 20px 0 0 20px;
}
.blog-item:not(.first) .blog-image img {
    border-radius: 20px 20px 0 0;
}
.blog-item .blog-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.blog-item .blog-desc {
    /* opacity: 0.6; */
}
.blog-item .blog-btn {
    margin-top: 10px;
}

.first {
  flex: 0 0 calc(100% - 30px);
  display: flex;
  gap: 30px;
}
.first .blog-image {
    flex: 0 0 50%;
    height: auto;
}
.first .skeleton-loader {
    height: 400px;
}
.first .blog-content {
    flex: 1;
    margin-top: 0;
}
.blog-content {
    margin-top: 0;
    padding: 15px;
}
.first .blog-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
.blog-category {
    color : var(--primary-btn-color);
    margin-bottom: 10px;
    font-size: 18px;
}

.blog-item:not(.first) {
    flex: 0 0 calc(33.33% - 30px);
}
.blog-item:not(.first) .blog-image {
    height: auto;
}
.blog-item:not(.first) .skeleton-loader {
    height: 200px;
}
.blog-item:not(.first) .blog-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}
.blog-item:not(.first) .blog-content p {
    font-size: 16px;
}
.skeleton-loader {
    width: 100%;
    height: 100%; /* Adjust as per your image height */
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    border-radius: 8px;
}
.categories-row {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
}
.categories-row .categories {
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 5px;
    box-shadow: 0px 0px 50px 0px #072E7312;
    border-radius: 10px;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}
.categories-row .categories span {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    width: 140px;
}
.categories-row .categories span.active {
    background-color: var(--primary-btn-color);
    color: #fff;
}


.custom-dropdown {
    position: relative;
    width: 280px;
    margin-bottom: 15px;
}

.dropdown-header {
    padding: 15px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #fff;
    font-weight: 500;
    font-size: 18px;
    box-shadow: 0 2px 10px rgba(0,0,0,.16);
    text-align: left;
}
.dropdown-header svg {
    width: 15px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}
.dropdown-header.opened svg {
    transform: rotate(180deg) translateY(50%) !important;
  }

.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #d4d5d4;
    background-color: white;
    z-index: 999;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    max-height: 300px;
    overflow-y: auto;
    text-align: left;
    font-size: 16px;
    margin-top: 5px;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
}

.dropdown-item:hover,
.dropdown-item.active {
    color: var(--primary-btn-color);
}
.load-more
{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.primary-btn
{
    cursor:pointer;
}
@keyframes loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

@media screen and (max-width: 975px) {
    .blog-item:not(.first) {
        flex: 0 0 calc(50% - 30px);
    }
    .first .blog-image {
        flex: 0 0 60%;
    }
}
@media screen and (max-width: 928px) {
    .all-blogs-sec {
        padding: 80px 30px 0;
    }
}
@media screen and (max-width: 920px) {
    .first {
        display: block;
    }
    .blog-item.first .blog-image img {
        border-radius: 20px 20px 0 0;
    }
    /* .first .blog-content {
        margin-top: 15px;
    } */
}
@media screen and (max-width: 725px) {
    .first .blog-image {
        height: auto;
    }
    .first .skeleton-loader {
        height: 300px;
    }
}
@media screen and (max-width: 690px) {
    .blog-item:not(.first) {
        flex: 0 0 calc(70% - 30px);
    }
}
@media screen and (max-width: 520px) {
    .first .blog-image {
        height: auto;
    }
    .first .skeleton-loader {
        height: 200px;
    }
    .first .blog-title {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .blog-item:not(.first) {
        flex: 0 0 calc(100% - 30px);
    }
    .blog-item.first .blog-content p {
        font-size: 16px;
    }
    
    
}