/* .header-marging {
    margin-top: 102px;
} */
.car-ad {
    background-image: url('./home-top-bg.webp');
    width: 100%;
    
    /* color: #373435; */
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    background-color: #D9D9D9;
}
.car-ad .car-ad-row {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 150px 70px 150px;
}
.car-ad h1 {
    /* font-family: Outfit; */
    font-size: 49px;
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
    text-transform: uppercase;
}
.car-ad h1 span {
    font-weight: 800;
}
.car-ad .content {
    flex: 0 1 40%;
}
.car-ad .description {
    /* font-family: Outfit; */
    font-size: var(--font-size-18);
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin: 18px 0;
}
.car-ad .subtext {
    /* font-family: Outfit; */
    font-size: var(--font-size-20);
    font-weight: 600;
    line-height: 1.5;
    margin: 22px 0;
}
.car-ad .buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}
.car-ad .primary-btn , .car-ad .secondary-btn {
    padding: 12px 20px;
    /* font-family: Outfit; */
    font-size: var(--font-size-18);
    font-weight: 700;
    line-height: 22.68px;
    flex: 0 1 180px;
    text-align: center;
}
.car-ad .info {
    flex: 1;
}
.car-ad .info img {
    width: 100%;
}
@media screen and (max-width:1400px) {
    .car-ad h1 {
        font-size: clamp(30px, 4vw, 43px);
    }
}
@media screen and (max-width:975px) {
    .car-ad .car-ad-row {
        flex-direction: column;
        padding: 150px 70px 150px;
    }
}
@media screen and (max-width:928px) {
    .car-ad .car-ad-row {
        padding: 150px 30px 150px;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }
}
