/* .header-marging {
    margin-top: 102px;
} */
.car-ad {
    background-image: url('./home-top-bg.png');
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 230px 70px 150px;
    /* color: #373435; */
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}
.car-ad h1 {
    /* font-family: Outfit; */
    font-size: var(--font-size-54);
    font-size: clamp(30px, 3vw, 54px);
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
    text-transform: uppercase;
}
.car-ad h1 span {
    font-weight: 800;
}
.car-ad .content {
    flex: 0 1 45%;
}
.car-ad .description {
    /* font-family: Outfit; */
    font-size: var(--font-size-18);
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin: 18px 0;
}
.car-ad .subtext {
    /* font-family: Outfit; */
    font-size: var(--font-size-20);
    font-weight: 600;
    line-height: 1.5;
    margin: 18px 0;
}
.car-ad .buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}
.car-ad .primary-btn , .car-ad .secondary-btn {
    padding: 20px 40px;
    /* font-family: Outfit; */
    font-size: var(--font-size-18);
    font-weight: 700;
    line-height: 22.68px;
}
.car-ad .info {
    flex: 1;
}
.car-ad .info img {
    width: 100%;
}


@media screen and (max-width:975px) {
    .car-ad {
        flex-direction: column;
        padding: 150px 70px 150px;
    }
}
@media screen and (max-width:928px) {
    .car-ad {
        padding: 150px 30px 150px;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }
}
@media screen and (max-width:445px) {
    .car-ad .primary-btn, .car-ad .secondary-btn {
            padding: 20px 20px;
    }
}