.trusted-customers {
  padding: 120px 150px;
  
  text-align: center;
 
}

.trusted-title {
  font-size: clamp(24px, 4vw, 36px);
  font-weight: 700;
  margin-bottom: 15px;
}

.deskset
{
  display: block;
}
.mobileset
{
  display:none;
}
.trusted-subtitle {
  font-size: 16px;
  max-width: 800px;
  margin: 0 auto 40px;
  line-height: 1.6;
  color: #000;
}

.customer-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.customer-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  /* box-shadow: 0 4px 10px rgba(0,0,0,0.3); */
  transition: transform 0.3s ease;
}

.customer-card img:hover {
  transform: scale(1.03);
}

@media screen and (max-width:767px)
{
  .deskset
{
  display: none;
}
.mobileset
{
  display:block;
}
}