.faqs-sec {
    /* color: #373435; */
    background-image: url('./home-top-bg.png');
    background-color: #D9D9D9;
}
.faqs-sec .faqs-sec-row {
    padding: 100px 70px 50px;
}
.faq-items {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.faq-items .faq-item {
    flex: 0 0 calc(50% - 8px);
    background-color: #fff;
    letter-spacing: 0.5px;
    border-radius: 18px;
    font-size: var(--font-size-18);
    height: fit-content;
}
.faq-items .faq-item .faq-question {
    padding: 15px 50px 15px 15px;
    position: relative;
    font-weight: 700;
}
.faq-items .faq-item .faq-ans {
    padding: 0 15px 15px;
}
.faq-question:after {
    content: "";
    height: 23px;
    width: 23px;
    background-image: url("./faq-arrow.png");
    display: block;
    background-size: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    transition: all 0.2s linear;
    background-repeat: no-repeat;
}
.faq-question.opened:after {
    transform: translateY(-50%) rotate(180deg);
}
.faqs-sec .primary-btn {
    padding: 15px 50px;
    font-size: 18px;
    margin: 60px auto 0;
    display: block;
    width: fit-content;
}
@media screen and (max-width:928px) {
    .faqs-sec .faqs-sec-row {
        padding: 100px 30px 50px;
    }
}
@media screen and (max-width: 820px) {
    .faq-items .faq-item {
        flex: 0 0 100%;
    }
}