.top-blog-sec {
    padding: 70px 70px 0;
}
.top-blog-image {
    height: 220px;
    position: relative;
    overflow: hidden;
}
.top-blog-image img {
    width: 100%;
    border-radius: 18px;
    height: 100%;
    object-fit: cover;
}
.top-blog-title {
    font-size: var(--font-size-28);
    font-weight: 700;
    color: #000000;
    /* text-transform: uppercase; */
    margin-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.top-blog-info {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--font-size-16);
    font-weight: 300;
    color: #000000;
}
.top-blog-info .top-blog-date {
    flex: 1;
}
.top-blog-item {
    padding: 10px;
}
.top-blog-grid .slick-dots li button:before {
    font-size: var(--font-size-13);
    line-height: 22px;
    width: 22px;
    height: 22px;
}
.top-blog-grid .slick-dots li , .top-blog-grid .slick-dots li button {
    width: 22px ;
    height: 22px;
}
.top-blog-grid .slick-dots li button:before , .top-blog-grid .slick-dots li.slick-active button:before {
    color: #D2E0FB;
}
.top-blog-grid .slick-dots li.slick-active button:before {
    opacity: 1;
}
.top-blog-image .badge {
    position: absolute;
    top: 23px;
    left: -33px;
    background-color: var(--primary-btn-color);
    color: white;
    padding: 5px 15px;
    width: 142px;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    transform: rotate(-45deg);
    letter-spacing: 1.5px;
}
@media screen and (max-width: 1110px) {
    .top-blog-sec {
        padding: 70px 30px 0;
    }
}