.faqs-tabs {
    display: flex;
    align-items: center;
    max-width: 856px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 70px;
    box-shadow: 0px 0px 50px 0px #072E7312;
    padding: 5px;
    border-radius: 20px;
    flex-wrap: wrap;
}
.faqs-tab-sec {
    padding: 0 10px;
}
.faqs-tabs .faqs-tab {
    flex: 1;
    text-align: center;
    padding: 15px 25px;
    border-radius: 18px;
    font-size: var(--font-size-18);
    font-weight: 600;
    transition: all 0.2s linear;
    cursor: pointer;
    min-width: 208px;
    
}
.faqs-tabs .faqs-tab.selected {
    background: var(--primary-btn-color);
    color: #fff;
}

.faq-tab-items {
    max-width: 856px;
    margin: 0 auto;
    margin-top: 50px;
}
.faq-tab-items .faq-tab-item {
    background-color: #fff;
    letter-spacing: 0.5px;
    font-size: var(--font-size-18);
    height: fit-content;
    padding: 5px 0;
    border-bottom: 1px solid #00000033
}
.faq-tab-items .faq-tab-item:last-child {
    border-bottom: none;
}
.faq-tab-items .faq-tab-item .faq-tab-question {
    padding: 15px 50px 15px 15px;
    position: relative;
}
.faq-tab-items .faq-tab-item .faq-tab-ans {
    padding: 0 15px 15px;
}
.faq-tab-question:after {
    content: "";
    height: 22px;
    width: 23px;
    background-image: url("./faq-arrow.png");
    display: block;
    background-size: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    transition: all 0.2s linear;
    background-repeat: no-repeat;
}
.faq-tab-question.opened:after {
    transform: translateY(-50%) rotate(180deg);
}