@media screen and (max-width:928px) {
    .footer-sec {
        padding: 46px 30px;
        margin-top: 50px;
    }
    .small-footer {
        padding: 50px 30px;
    }
}
@media screen and (max-width:905px) {
    .main-header .header-container {
        gap:35px;
    }
}
@media screen and (max-width:1000px) {
    .footer-container {
        flex-direction: column;
    }
    .contact-row {
        justify-content: flex-start;
    }
    .footer-contact-row {
        margin-left: 0;
    }
    .social-media-copyright {
        position: relative;
        margin-top: 20px;
    }
    .copy-right-desc {
        text-align: left;
    }
    .footer-sec > img {
        height: 500px;
        right:0
    }
}

@media screen and (min-width:978px) {
    .header-mobile-toggle , .side-apply-btn {
        display: none;
    }
}
@media screen and (max-width:977px) {
    .header-nav {
        display: none;
    }
    .header-btn {
        display: none;
    }
    .header-logo {
        flex: 1;
    }
    
}
@media screen and (max-width:450px) {
    .social-media-row > a {
        height: 35px;
        width: 35px;
        border-radius: 8px;
    }
}
@media screen and (max-width:540px) {
    .small-footer .footer-links {
        flex-wrap: wrap;
        gap: 20px;
    }
    .small-footer .footer-links a {
        padding: 0;
        border: none;
    }
}
@media screen and (max-width:435px) {
    .contact-row {
        flex-direction: column;
    }
    .contact-row > a:not(.contact-email) {
        width: 190px;
    }
    .contact-row > a.contact-email {
        width: fit-content;
    }
}

@media screen and (max-width:395px) {
    .main-header .header-container{
        padding: 25px 20px 25px 20px;
    }
}

@media screen and (max-width: 800px) {
    .privacy-policy-page {
        padding: 50px 70px 0;
    }
}
@media screen and (max-width: 480px) {
    .header-logo>a {
        font-size: 20px;
    }
    .header-logo img {
        max-width: 40px;
    }
    .header-marging {
        margin-top:92px !important;
    }
}
