.apply-stepper {
    padding: 0 20px;
    max-width: 885px;
    margin: 0 auto;
    min-height: calc(100vh - 366px);
}
.apply-stepper .primary-btn , .apply-stepper .secondary-btn {
    padding: 15px 50px;
    font-size: 18px;
    width: 176px;
}
.apply-stepper .bigger-btn .primary-btn , .apply-stepper .bigger-btn .secondary-btn {
    width: 286px;
}
.stepper-progress-container {
        padding: 30px 0;
}
.stepper-progress {
    height: 10px;
    width: 100%;
    background: #dae0ea;
    /* opacity: 0.15; */
    border-radius: 5px;
    position: relative;
}
.stepper-complete{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 5px;
    background: var(--primary-btn-color);
}
.stepper-complete img {
    position: absolute;
    top: 50%;
    transform: translate(50%,-50%);
    right: 0;
}
.stepper-title {
    font-size: clamp(24px, 3vw, 30px);
    font-weight: 700;
    margin-bottom: 15px;
}
.stepper-question-title {
    font-size: clamp(20px, 3vw, 24px);
    font-weight: 600;
}
.stepper-question {
    display: flex;
    align-items: flex-end;
    gap: 25px;
}
.stepper-title-sec {
    flex: 1;
}
.stepper-time {
    font-size: var(--font-size-18);
    font-weight: 300;
    flex: 0 0 max-content;
}
.stepper-car-input {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 0;
}
.stepper-car-input .car-radio {
    width: 33.33%;
    padding: 10px;
    
}
.stepper-car-input .car-radio label {
    box-shadow: 0px 0px 50px 0px #072E731A;
    text-align: center;
    display: block;
    opacity: 0.4;
    padding: 10px;
    border-radius: 18px;
    position: relative;
}
.stepper-car-input .car-radio img {
    max-width: 100%;
}
.stepper-car-input .car-radio label > span {
    display: block;
}
.stepper-car-input .car-radio label:has( > input:checked) {
    opacity: 1;
}
.stepper-car-input .car-radio label:has( > input:checked):after {
    content: '\2713';
    position: absolute;
    top: 10px;
    right: 20px;
    background: var(--primary-btn-color);
    color: #fff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.stepper-btn {
    text-align: center;
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap:15px;
    justify-content: center;
    flex-wrap: wrap;
}
.stepper-option-input {
    max-width: 460px;
    width: 100%;
    margin: 30px auto;
}
.stepper-option-input .option-radio label {
    padding: 25px;
    display: block;
    box-shadow: 0px 0px 50px 0px #072E7312;
    border-radius: 14px;
    font-size: var(--font-size-18);
    font-weight: 700;
    display: flex;
    align-items: center;
    opacity: 0.4;
}
.stepper-option-input .option-radio label:has( > input:checked) {
    opacity: 1;
}
.stepper-option-input .option-radio label > span {
    flex: 1;
}
input[type='radio'] {
    margin: 0;
    -webkit-appearance: none; /* Removes default radio button styles */
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc; /* Add your border styling */
    border-radius: 50%;
    outline: none;
    margin-right: 10px;
}
input[type='radio']:checked {
    background-color: #fff; /* Custom color for selected radio */
    border: 6px solid #e63946; /* Same color as background */
  }
input[type='radio']:checked {
  accent-color: var(--primary-btn-color);
}
.stepper-option-input .option-radio + .option-radio {
    margin-top: 20px;
}
.stepper-text-input {
    max-width: 460px;
    width: 100%;
    margin: 30px auto;
}
.stepper-text-input .input-guide {
    display: block;
    font-size: var(--font-size-16);
    font-weight: 300;
    opacity:  0.6;
    margin-bottom: 10px;
}
.stepper-text-input .dollar-input input , .stepper-text-input .text-input input {
    width: 100%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 50px 0px #072E7312;
    border-radius: 14px;
    padding: 20px 10px 20px 50px;
    font-size: var(--font-size-14);
    font-weight: 300;
    letter-spacing: 0.5px;
}
.stepper-text-input .text-input input {
    padding-left: 10px;
}
.stepper-text-input .dollar-input {
    display: block;
    position: relative;
}
.stepper-text-input .dollar-input::after{
    content: url('./images/dollar.png');
    position: absolute;
    top: 16px;
    display: block;
    left: 16px;
}
.stepper-text-input .dollar-input.can-phone-input::after {
    content: url('./images/canada-flag.png');
}
.stepper-text-input .dollar-input.calender::after {
    content: url('./images/calender.png');
    top: 19px;
}
.stepper-flex-input {
    /* margin: 30px 0; */
    display: flex;
    align-items: center;
    gap: 15px;
}
.stepper-flex-input .stepper-input {
    flex: 1;
}

.stepper-flex-input .stepper-input:not(.input-text) {
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 0px 50px 0px #072E7312;
    border-radius: 12px;
}
.stepper-flex-input .stepper-input .form-input{
    flex: 0 1 250px;
}
.stepper-flex-input .stepper-input > span {
    flex: 1;
    font-size: 18px;
}
.inline-radio-input {
        max-width: 460px;
    width: 100%;
    margin: 30px auto;
}
.inline-radio-row {
    display: flex;
    align-items: center;
    vertical-align: middle;
    box-shadow: 0px 0px 50px 0px #072E7312;
    text-align: center;
    border-radius: 14px;
    padding: 8px;
}
.inline-radio-row .inline-radio {
    flex: 1;
    padding: 10px;
}
.inline-radio-row .inline-radio label > span {
    font-size: var(--font-size-18);
    font-weight: 700;
}
.inline-radio-row .inline-radio label > input {
    margin: 0;
    height: 20px;
    width: 20px;
}
.inline-radio-row .inline-radio label > input:checked {
  accent-color: var(--primary-btn-color);
}
.inline-radio-row .inline-radio label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.inline-radio-row .inline-radio + .inline-radio {
    border-left: 1px solid #000000
}

.inline-radio-row-gap {
    display: flex;
    align-items: center;
    vertical-align: middle;
    text-align: center; 
    gap: 20px;
}
.inline-radio-row-gap .inline-radio-gap {
    flex: 1;
    box-shadow: 0px 0px 50px 0px #072E7312;
    border-radius: 14px;
}
.inline-radio-row-gap .inline-radio-gap label > span {
    font-size: var(--font-size-18);
    font-weight: 700;
}
.inline-radio-row-gap .inline-radio-gap label > input {
    margin: 0;
    height: 20px;
    width: 20px;
}
.inline-radio-row-gap .inline-radio-gap label > input:checked {
  accent-color: var(--primary-btn-color);
}
.inline-radio-row-gap .inline-radio-gap label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 18px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: #007BFF;
    border-radius: 5px;
    padding: 5px;
    left: 16px;
    top: 19px;
    position: absolute;
    width: 11px;
    height: 11px;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
}
.error-messages:empty {
    display: none;
}
.error-messages {
    color: #842029;
    background-color: #f8d7da;
    margin: 15px auto;
    padding: 10px;
    font-size: var(--font-size-16);
    text-align: center;
    border: 1px solid #f5c2c7;
    max-width: 460px;
}
.error-messages ul li + li {
    margin-top: 10px; 
}
.approval-popoverlay {
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000000;
    z-index: 999;
}
.approval-pop-container {
    width: 631px;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 30px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffff;
    min-height: 100px;
    z-index: 999;
    border-radius: 14px;
    text-align: center;
    padding: 40px;
    overflow: auto;
}
.approve-pop-title {
    font-size: 30px;
    font-weight: 700;
    margin-top: 8px;
}
.approve-pop-address {
    max-width: 416px;
    margin: 30px auto;
    padding: 10px;
    background: #00000010;
    border-radius: 14px;
}
.approve-pop-address h1 {
    font-size: 22px;
}
.approve-pop-content p {
    font-size: 14px;
    font-weight: 300;
}
.approve-pop-content p a {
    text-decoration: underline;
}
.approve-pop-content p + p {
    margin-top: 20px;
}
.approve-pop-content {
    margin-bottom: 15px;
}
.stepper-footer {
    margin-top: 100px;
    padding: 46px 70px;
    background: #F3F3F3;
    position: relative;
    overflow: hidden;
}
.stepper-desc {
    text-align: center;
    margin-top: 20px;
    color: #373435;
}
.verify-desc {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.verify-desc a {
    text-decoration: underline;
}

@media screen and (max-width:800px) {
    .stepper-flex-input .stepper-input:not(.input-text) {
        display: block;
    }
    .stepper-flex-input .stepper-input .form-input {
        margin-top: 10px;
    }
}
@media screen and (max-width:680px) {
    .stepper-question .stepper-time {
        display: none;
    }
}
@media screen and (max-width:510px) {
    .stepper-option-input .option-radio label {
        padding: 15px;
    }
}
@media screen and (max-width:540px) {
    .stepper-flex-input {
        flex-direction: column;
    }
    .stepper-flex-input .stepper-input{
        width: 100%;
    }
}
@media screen and (max-width:480px) {
    .stepper-car-input .car-radio {
        width: 50%;
    }
}